@charset "utf-8";

/* 公共样式 */
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.clear_margin{
    margin: 0!important;
}
.clear_border{
    border: 0!important;
}
.clear_bg{
    background:none!important;
}
body{
    background-color: #f4f4f4;
}
.f10{
    color:#f10215;
}
a{
    color: #666;
}
/* 公共版心 */
.header-wrap,.shortcut-wrap,.search-wrap,.serve-wrap,.links-wrap,.copyright-wrap,.seckill-wrap,.special-wrap,.channel-wrap,.foot-wrap{
    width: 1190px;
    margin: 0 auto;
}
/* 头部 */
header{
    height: 100px;
    background: #b7da7f;
}
.header-wrap{
    height: 80px;
}
header img{
    width: 1190px;
    height: 100px;
    margin:  0 auto;
    
}
.but{
    width: 25px;
    height: 25px;
    background:url(../images/but_03.jpg);
    border: 1px solid transparent;  
    outline: none;  
    position: absolute;
    left:1350px;
    right: 0;
    top:1px;
}
/* 头部 */
/* 导航栏 */
#shortcut{
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #999;
}
.fl{
    padding-left:8px;
}
.fl a{
    color:#999;
    font-size: 12px;
}
.fr li{
    position: relative;
    float: left;
}
.fr li a{
    height: 30px;
    line-height: 30px;
    color:#999;
    font-size: 12px;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}
.fr .icon-arrow-down{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 15px;
}
.shortcut-wrap li a:hover{
    color:#e33333;
}
.fr .reg{
    padding: 0;
}
.fr .regi{
    padding: 0 15px 0 0;
    color:#f10215;
}
/* 导航栏 */
/* 搜索区域 */
#search{
    background: #fff;
}
.search-wrap{
    height: 140px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.logo_img{
    display: block;
    width: 190px;
    height: 120px;
    background:url(../images/logo.jpg) no-repeat;
}
.form{
    width: 550px;
    height: 35px;
    background: yellow;
    position: absolute;
    top: 25px;
    left: 260px;
}
.form input{
    width: 495px;
    height: 33px;
    border: 1px solid #e2231a;
    padding-left: 3px;
    font-size: 12px;
}
.form .icon-camera{
    position: absolute;
    top: 1px;
    right: 68px;
    font-size: 28px;
    color: #9f9fa5;
}

.form .butt{
    width:50px;
    height: 35px;
    background: #e2231a;
}
.form .icon-fangdajing{
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 24px;
    color: #f9f8ff;
}
.cart{
    width: 130px;
    height: 34px;
    background:#fff;
    position: absolute;
    top: 25px;
    right: 230px;
    line-height: 30px;
    border: 1px solid #eee;
  }
.cart h4{
    color:#e1251b;
    font-size: 12px;
    padding-left: 5px;
    position: relative;
}
.cart .icon-gouwuche{
    color:#e1251b;
    font-size: 14px;
    font-weight: 700;
    margin-right: 13px;
}
.cart span{
    position: absolute;
    top: 1px;
    left: 29px;
    right: auto;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 6px;
    min-width: 12px;
    text-align: center;
}
.brand{
    position: absolute;
    top: 66px;
    left: 260px;
    font-size: 12px;
}
.brand li{
    float: left;
    margin: 0 6px;
}
.brand li a{
    color: #999;
}
.brand .clear_margin a{
    color:#e1251b;
}
.activity{
    position: absolute;
    bottom: 12px;
    left: 192px;
    font-size: 14px;
}
.activity li{
    float: left;
    margin: 0 12px;
}
.activity li a{
    color: #333;
}
.activity .activity_red{
    font-weight: 700;
    color:#e1251b;
}
.pin{
    width: 190px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
}
.pin img{
    width: 100%;
    height: 100%;
}
/* 搜索区域 */

/*页面尾部 开始*/
#foot{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.foot-wrap ul{
    overflow: hidden;
    height: 42px;
}
.foot-wrap ul li{
    width: 297px;
    float: left;
}
.foot-wrap .foot_unit{
    position: relative;
    margin: 0 auto;
    padding-left: 46px;
    width: 180px;
}

.foot-wrap li h5{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    text-indent: -999px;
    background:url(../images/jingling.png) no-repeat 0 -192px;
}
.foot-wrap li:nth-child(2) h5{
    background:url(../images/jingling.png) no-repeat -41px -192px;
}
.foot-wrap li:nth-child(3) h5{
    background:url(../images/jingling.png) no-repeat -82px -192px;
}
.foot-wrap li:nth-child(4) h5{
    background:url(../images/jingling.png) no-repeat -123px -192px;
}
.foot-wrap li p{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.links-wrap{
    height: 200px;
    border-bottom: 1px solid #e1e1e1;
}
.links_box,.links_r{
    height: 174px;
    padding-top: 22px;
    margin-right: 130px;
    float: left;
}
.links_box h3{
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
    font-weight: 600;
}
.links_box ul li a{
    font-size: 12px;
    color:#666;
    line-height: 22px;
}
.links_r h3{
    font-size: 14px;
    color: #666;
    font-weight: 600;
    margin:0 5px 0 36px;
}

.links_r p{
    font-size: 12px;
    color:#666;
    margin-top: 10px;
    line-height: 18px;
}
.links_r a{
    font-size: 12px;
    color:#666;
    float: right;
}
.links_r .icon-youjiantou2{
    font-size: 13px;
    color:#666;
    float: right;
    margin-top: 3px;
}
.copyright-wrap{
    min-height: 200px;
    text-align: center;
}
.about_box{
    height: 48px;
    line-height: 48px;
    padding-left:44px;
}
.about_box li{
    float: left;
    font-size: 12px;
}
.about_box li a{
    color: #666;
    border-right: 1px solid #d2dbe9;
    padding: 0 10px;
}
.copy_box p a{
    color: #99a5bb;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #d2dbe9;
} 

.trade_box p a{
    color: #99a5bb;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #d2dbe9;
    position: relative;

} 
.trade_box a i{
    width: 15px;
    height: 12px;
    margin-top: -1px;
    position: absolute;
    top: 4px;
    left: -8px;
    background: url(../images/jingling.png) no-repeat -108px -155px;
}
.trade_box a:nth-child(2) i{
    background: url(../images/jingling.png) no-repeat -127px -155px;
}
.trade_box a:nth-child(3) i{
    background: url(../images/jingling.png) no-repeat -148px -155px;
}
.trade_box a:nth-child(4) i{
    background: url(../images/jingling.png) no-repeat -168px -155px;
}
.trade_box a:nth-child(5) i{
    background: url(../images/jingling.png) no-repeat -108px -172px;
}

.wallet_box p a{
    color: #99a5bb;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #d2dbe9;
} 
.cate_box{
    margin-top: 40px;
    text-align: center;
}
.cate_box a{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    font-size: 12px;
    color:#666;
    background:url(../images/jingling.png) no-repeat -205px -111px;
}
.cate_box a:nth-child(2){
    background:url(../images/jingling.png) no-repeat -205px -74px;
}
.cate_box a:nth-child(3){
    background:url(../images/jingling.png) no-repeat -205px -37px;
}
.cate_box a:nth-child(4){
    background:url(../images/jingling.png) no-repeat -205px 0;
}
.cate_box a:nth-child(5){
    background:url(../images/jingling.png) no-repeat 0 -155px;
}

/*页面尾部 结束*/

