@charset "utf-8";
a{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #E4393C;
    text-decoration: underline;
}
body{
    font-size: 14px;
}
.logo-wrap,.container-wrap{
    width: 1210px;
    margin: 0 auto;
}

.header-box{
    height: 110px;
    background: url(../images/headbg.jpg) repeat-x left bottom;;
}
.logo{
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
    background: url(../images/reg.png) no-repeat;
}
.logo_tit{
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top: 34px;
}
.logo_number{
    font-size: 16px;
    float: right;
    margin-top: 55px;
    color: #999;
}
.logo_number a{
    color: #e22;
}
.contain_t{
    position: relative;
    margin: 80px auto 0;
    width: 400px;
}
.pro_verify,.pro_verify1,.pro_verify2{
    float: left;
    text-align: center;
}
.pro_verify1{
    margin-left: 106px;
}
.pro_verify2{
    margin-left: 112px;
}
.pro_number{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 700;
    color: #ccc;
    margin: 0 auto;
    background: url(../images/reg-icon.png) no-repeat -45px -200px;
}
.pro_num{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}
.pro_line,.pro_line1{ 
    width: 124px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 55px;
    background: url(../images/reg-icon.png) no-repeat 0 -100px;
}
.pro_line1{
    left: 228px;
}
.pro_verify .pro_number{
    color:  #fff;;
    background: url(../images/reg-icon.png) no-repeat 0 -200px;
}
.pro_verify .pro_num{
    color: #3b4;
}
.contain_main{
    margin: 50px auto 186px;
    width: 400px;
}
.form_wrap{
    height: 86px;
    position: relative;
    z-index: 2;
}
.form_phone{
    position: relative;
    width: 398px;
    height: 52px;
    margin-top: 50px;
}
.phone_set{
    float: left;
    width: 87px;
    height: 50px;
    line-height: 50px;
    color: #666;
    padding: 0 0 0 20px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: none rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
    margin-top: 2px;
}
.phone_icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
    background: url(../images/reg.png) no-repeat -2px -150px;
}
.phone_box{
    float: left;
    width: 288px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
}
.phone_box span{
    display: inline;
    font-size: 14px;
    line-height: 46px;
    position: absolute;
    margin: 2px 0 0 20px;
    color: rgb(204, 204, 204);
    z-index: 2;
}