@charset "utf-8";
a{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #E4393C !important;
}
body{
    font-size: 14px;
}
.logo-wrap,.container-wrap,.links-wrap{
    width: 1210px;
    margin: 0 auto;
}

.header-box{
    height: 110px;
    background: url(../images/headbg.jpg) repeat-x left bottom;;
}
.logo{
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
    background: url(../images/reg.png) no-repeat;
}
.logo_tit{
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top: 34px;
}
.logo_number{
    font-size: 16px;
    float: right;
    margin-top: 55px;
    color: #999;
}
.logo_number a{
    color: #e22;
}
/* logo 结束 */
.contain_t{
    position: relative;
    margin: 80px auto 0;
    width: 400px;
    height: 54px;
}
.pro_verify,.pro_verify1,.pro_verify2{
    float: left;
    text-align: center;
}
.pro_verify1{
    margin-left: 106px;
}
.pro_verify2{
    margin-left: 112px;
}
.pro_number{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 700;
    color: #ccc;
    margin: 0 auto;
    background: url(../images/reg-icon.png) no-repeat -45px -200px;
}
.pro_num{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}
.pro_line,.pro_line1{ 
    width: 124px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 55px;
    background: url(../images/reg-icon.png) no-repeat 0 -100px;
}
.pro_line1{
    left: 228px;
}
.pro_verify .pro_number{
    color:  #fff;;
    background: url(../images/reg-icon.png) no-repeat 0 -200px;
}
.pro_verify .pro_num{
    color: #3b4;
}
.contain_main{
    margin: 50px auto 186px;
    width: 400px;
}
.phone_box{
    height: 86px;
    position: relative;
    z-index: 2;
}
.phone_item{
    width: 398px;
    height: 52px;
    z-index: 0;
}
.item_set{
    float: left;
    width: 87px;
    height: 50px;
    line-height: 50px;
    color: #666;
    padding: 0 0 0 20px;
    cursor: pointer;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: none rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial; 
}
.item_lk{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/reg.png) no-repeat -2px -150px;
}
.item_input{
    float: left;
    width: 288px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
}
.item_input span{
    display: inline;
    position: absolute;
    line-height: 46px;
    margin: 2px 0 0 20px;
    font-size: 14px;
    color: rgb(204, 204, 204);
}

.code_get{
    width: 398px;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    color: #333;
    text-align: center;
    position: relative;
    border: solid 1px #ddd;
}
.phone_but{
    width: 398px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #e2231a;
    font-size: 16px;
    margin-top: 36px;
}
.reg_other{
    margin-top: 36px;
}
.other_lk i{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 8px 2px 0;
    vertical-align: middle;
    background: url(../images/reg-icon.png) 0 -160px;
}
.reg_other a:nth-child(1){
    float: left;
    color: #333;
}
.reg_other a:nth-child(2){
    float: right;
    color: #333;
}
.reg_other a:nth-child(2) i{
    background: url(../images/reg-icon.png) -40px -160px;
}
.links-wrap{
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    padding-bottom: 30px;
}
.links-box{
    padding-top: 30px;
    padding-bottom: 15px;
}
.links-box a{
    color: #999;
    margin: 0 10px;
}

